.profile-container{
    border: 1px solid black;
    padding: 10px;
    margin:10px;
    width: 350px;
}
.user-img{
    height: 70px;
}
.profile-img-conatiner{
    display: flex;
    justify-content: center;
    margin:30px;
}
.user-info{
    font-weight: bold;
    line-height: 30px;
    word-spacing: 3px;
    font-family: 'Times New Roman';
    font-size: 18px;
}
.main-container{
    margin-left: auto;
    margin-right: auto;
}
.size{
    font-size: 27px;
    color: purple;
}