.login-button{
    font-size: 22px;
    background-color: #7c8bfc;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.link-signup{
  text-align: center;
    color: black;
    margin-left: 20px;
}
.form-title{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px #e67373;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px #808080;
    padding: 16px;
    border-radius: 9px;
    color: #8ebf42;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.user-login-img{
    width: 750px;
}
.size-form-container{
display: flex;
justify-content: center;
}